
<% action = (product.persisted? ? product_url(product) : products_url) %>
<% method = (product.persisted? ? :patch : :post) %>



<form id="form_id" action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label for="location_name"> Name
    <input type="text" name="product[name]" value="<%= product.name %>">
  </label>

  <br>


  <label for="price_min"> Minimum Price
    <input type="number" name="product[price_min]" value="<%= product.price_min %>">
  </label>

<br>

  <label for="price_max"> Maximum Price
    <input type="number" name="product[price_max]" value="<%= product.price_max %>">
  </label>

<br>

  <label for="product_year"> Retail Price
    <input type="number" name="product[price_retail]" value="<%= product.price_retail %>">
  </label>

<br>

  <label for="product_type"> Type
    <input type="text" name="product[type]" value="<%= product.wine_type %>">
  </label>

<br>

<label for="product_region"> Region
  <input type="text" name="product[region]" value="<%= product.region %>">
</label>

<br>

<label for="product_vineyard"> Vineyard
  <input type="text" name="product[vineyard]" value="<%= product.vineyard%>">
</label>



  <input type="submit" value="Submit">
</form>

<br>

<a href="<%= product_url(product)%>">Back</a><br>

<a href="http://www.wine.com/" title="Wine.com the destination for Wine and Wine Gifts"><img src="http://cache.wine.com/images/logos/80x20_winecom_logo.png" alt="Wine.com the destination for Wine and Wine Gifts" /></a>
